.newUser{
    flex: 4;
}

.newUserForm{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.newUserTitle{
    margin: 5px;
}

.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.newUserItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid rgb(117, 114, 114);
    border-radius: 5px;
}

.newUserGender>input{
    margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: rgb(92, 89, 89);
}

.newUserSelect{
   height: 40px;
   border-radius: 5px; 
}

.newUserButton {
    width: 200px;
    padding: 7px 10px;
    margin-top: 30px;
    align-items: center;
}

.newUserFormCollection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:800dp) {
    .newUserForm{
        flex: 50%;
    }
}