.featured {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
}

.featuredIcon{
    font-size: 14px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}