.widgetLarge {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.widgetLargeTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLargeTh{
    text-align: left;
}

.widgetLargeTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetLargeImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.widgetLargeUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLargeDate, .widgetLargeAmount{
    font-weight: 300;
}

.widgetLargeButton{
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
}

.widgetLargeButton.Approved{
    background: rgb(207 245 207);
    color: green;
}

.widgetLargeButton.Pending{
    background: #e5e4f9;
    color: #544ec5;
}

.widgetLargeButton.Declined{
    background: rgb(253 198 198);
    color: red;
}