.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.productListEdit{
    padding: 5px 10px;
    margin-right: 20px;
}

.productListDelete {
    cursor: pointer;
    color: rgb(211, 76, 76);
}
