.chart{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.2);
}

.chartTitle{
    margin-bottom: 20px;
}