.newProduct{
    flex: 4;
}

.addProductForm{
    margin: 20px;
}

.addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addProductItem > label{
    margin-bottom: 10px;
    font-weight: 600;
    color: gray;
}

.addProductItem > input {
    padding: 10px;
}

.addProductItem > select {
    padding: 10px;
}

.addProductButton{
    margin-top: 10px;
    padding: 7px 10px;
}

