.widgetSmall {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.widgetSmallTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetSmallList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmallNoUsers{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}