.userDetails {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  padding: 5px;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.userUpdate {
  flex: 2;
  padding: 20px;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  border-radius: 10px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowing {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userName {
  font-weight: 600;
}

.userTitle {
  font-weight: 300;
}

.userShowTitle {
  font-weight: 600;
  color: #a5a5a5;
  font-size: 14px;
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userShowIcon {
  font-size: 16px !important;
}

.userUpdateImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 5px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    font-size: 14px;
    margin-bottom: 5px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.updateImageIcon{
    cursor: pointer;
}

.updateButton{
    padding: 5px 10px;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}