.authModal {
    margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.authContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

.widgetLeft {
    flex: 1;
    background-color: cadetblue;
    text-align: center;
}

.widgetRight {
    flex: 1;
    background-color: cornflowerblue;
    text-align: center;
    height: 100%;
}

